[Dialer Defaults]
Username = globe
Password = globe
APN = globe
Phone = *99#
Init1 = ATZ
Init2 = ATQ0 V1 E1 S0=0 &C1 &D2 +FCLASS=0
Init3 = AT+CGDCONT=1,"IP","internet.globe.com.ph","",0,0
Idle Seconds = 3000
Baud = 115200
Stupid Mode = 1
Compuserve = 0
Modem = /dev/ttyACM0
Auto DNS = 1
Dial Command = ATD
Ask Password = 0
ISDN = 0
FlowControl = NO
